body{
	background-color: gray;
}

/*--------NAVIGATION---------*/

.navbar{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	background-color: white;
	z-index: 1;
}

.navbar h3{
	position: absolute;
	font-family: Futura;
	float: left;
	display: block;
	padding: 10px;
	margin-left: 20px;
	top: -12px;
	cursor: pointer;
}

.navbar li{
	display: inline;
	margin-right: 50px;
	float: right;	
}

.navbar a{
	position: relative;
	display: block;
	padding: 8px;
	text-decoration: none;
	color: black;
	font-family: Futura;
}

.navbar a:before {
  	content: "";
  	position: absolute;
  	width: 100%;
  	height: 2px;
  	bottom: 0;
  	left: 0;
  	background-color: black;
  	visibility: hidden;
  	-webkit-transform: scaleX(0);
  	transform: scaleX(0);
  	-webkit-transition: all 0.3s ease-in-out 0s;
  	transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/*--------STOP NAVIGATION---------*/

/*--------HOME PAGE---------*/

.hero{
	position: absolute;
	left: 0;
	top: 25px;
	width: 100%;
	height: 800px;
	text-align: center;
	color: white;
	font-family: Futura;
	animation-name: img-in;
	animation-duration: .5s;
}

.hero span{
	position: relative;
	top: 400px;
	font-size: 34px;
	animation-name: fade-in;
	animation-duration: 2s;
}

@keyframes fade-in{
	from{
		opacity: 0;
		top: 415px;
	}
	to{
		opacity: 1;
		top: 400px;
	}
}

.heroimg{
	width: 100%;
	height: 800px;
}

/*--------STOP HOME PAGE---------*/

/*--------ABOUT PAGE---------*/

.aboutwrapper{
	background-color: white;
	position: absolute;
	left: 0;
	top: 70px;
	width: 100%;
	height: 870px;
}

#biocont{
	background-color: white;
	position: absolute;
	left: 0;
	top: 940px;
	width: 100%;
	height: 300px;
}

#copy{
	width: 1000px;
	margin: 0 auto;
}

#biocont p{
	margin: 50px auto 0 auto;
	font-family: Avenir;
	line-height: 200%;
	text-align: left;
	padding: 50px;
}

.aboutwrapper h1{
	font-family: Futura;
	text-align: center;
	font-size: 40px;
	animation-name: fade-down;
	animation-duration: 2s;
}

/*@keyframes fade-down{
	from{
		opacity: 0;
		margin-top: 18px;
	}
	to{
		opacity: 1;
		margin-top: 33px;
	}
}*/

.abimgwrapper{
	float: left;
	width: 50%;
	height: 800px;
	overflow: hidden;
}

.abhero{
	position: relative;
	top: -50px;
	left: 10%;
	width: 450px;
	height: 700px;
	animation-name: img-in;
	animation-duration: 2s;
}

@keyframes img-in{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

.content{
	float: right;
	width: 50%;
	height: 800px;
	overflow: hidden;
	font-family: Futura;
}

.content h4{
	padding: 10px 30px 10px 30px;
	line-height: 200%;
	font-size: 24px;
}

.content p{
	font-family: Avenir;
	text-align: left;
	top: 0px;
	padding: 30px;
	line-height: 200%;
	animation-name: p-in;
	animation-duration: 2s;
}

@keyframes p-in{
	from{
		top: 15px;
		opacity: 0;
	}
	to{
		top: 0;
		opacity: 1;
	}
}

.content a{
	color: orange;
	text-decoration: none;
	position: relative;
}

.content a:before {
  	content: "";
  	position: absolute;
  	width: 100%;
  	height: 2px;
  	bottom: 0;
  	background-color: orange;
  	left: 0;
  	visibility: hidden;
  	-webkit-transform: scaleX(0);
  	transform: scaleX(0);
  	-webkit-transition: all 0.3s ease-in-out 0s;
  	transition: all 0.3s ease-in-out 0s;
}

.content a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/*--------STOP ABOUT PAGE---------*/

/*--------WORK PAGE---------*/

.work-thumbnail{
	position: relative;
	left: 30px;
	width: 260px;
	height: 290px;
	text-align: center;
	display: inline-block;
}

.work-thumbnail a{
	text-decoration: none;
	color: black;
}

.full-width{
	width: 100%;
}

.work-thumbnail h3{
	font-family: Futura;
}

/*--------STOP WORK PAGE---------*/

/*--------CONTACT FORM---------*/

.contactwrapper{
	background-color: #F5F5F5;
	position: absolute;
	left: 0;
	top: 70px;
	width: 100%;
	height: 600px;
}

.contactwrapper h1{
	font-family: Futura;
	text-align: center;
	font-size: 40px;
	animation-name: fade-down;
	animation-duration: 2s;
}

.contactwrapper a{
	color: black;
	text-decoration: none;
	margin: 100px;
}

.formwrapper{
	width: 500px;
	height: 500px;
	margin: 0 auto;
	text-align: center;
}

.emailform{
	width: 100%;
}

.emailform ul{
	padding: 0;
}

.emailform ul li{
	margin: 15px 0;
	list-style-type: none;
}

.emailform input, textarea{
	width: 70%;
	border-style: none;
	padding: 15px;
	font-family: avenir;
	font-size: 12px;
}

#submit-btn{
	background-color: #F5F5F5;
	cursor: pointer;
	border: 2px black solid;
	font-size: 15px;
	width: 200px;
	transition-duration: .5s;
}

#submit-btn:hover{
	background-color: black;
	color: #F5F5F5;
}

.emailform textarea{
	height: 100px;
	resize: none;
}

/*--------STOP CONTACT FORM---------*/

/*--------FOOTER---------*/



p{
	position: relative;
	text-align: center;
	font-family: Futura;
}

.social{
	margin: 0 auto;
	display: table;
}

.social ul{
	list-style: none;
}

.social li{
	display: inline-block;
	cursor: pointer;
}

.icon{
	width: 50px;
	height: 50px;
}

/*--------STOP FOOTER---------*/

/*--------ERRORS---------*/

.errorstyle{
	color: red;
}




/*--------STOP ERRORS---------*/




